.die.default {

  &.red        .skin { background-color: red; }
  &.orange     .skin { background-color: orange; }
  &.yellow     .skin { background-color: yellow; }
  &.green      .skin { background-color: green; }
  &.blue       .skin { background-color: #49F; }
  &.purple     .skin { background-color: purple; }
  &.pink       .skin { background-color: #F6A; }
  &.navy       .skin { background-color: navy; }
  &.teal       .skin { background-color: teal; }
  &.wood       .skin { background-color: #DC9; }
  &.black      .skin { background-color: #333; }
  &.white      .skin { background-color: #FFF; }
  &.fire       .skin { background-color: orange; background-blend-mode: color-burn; }
  &.ice        .skin { background-color: #EFF;   background-blend-mode: color-burn; }
  &.krypton    .skin { background-color: #DF0;   background-blend-mode: color-burn; }
  &.fairy      .skin { background-color: #FDE;   background-blend-mode: color-burn; }
}

.die.pattern {
  background-size: 100% 100%;

  .skin {
    opacity: 0.75;
  }

  &.lesbian { background-image: url("./assets/lesbiab.gif"); }
  &.gay     { background-image: url("./assets/imgay.gif"); }
  &.bi      { background-image: url("./assets/bi.gif"); }
  &.trans   { background-image: url("./assets/transrights.gif"); }
}
