.die.default {

  &.red        .skin { background-color: #F00; }
  &.orange     .skin { background-color: #F90; }
  &.yellow     .skin { background-color: #FF0; }
  &.green      .skin { background-color: #2A2; }
  &.blue       .skin { background-color: #49F; }
  &.purple     .skin { background-color: #95B; }
  &.pink       .skin { background-color: #F7A; }
  &.navy       .skin { background-color: #238; }
  &.teal       .skin { background-color: #0DB; }
  &.wood       .skin { background-color: #DC9; }
  &.black      .skin { background-color: #333; }
  &.white      .skin { background-color: #FFF; }

  &.beat       { color: #0F0; .skin { background-color: #FE0; } }
  &.tab        { color: #FF2; .skin { background-color: #2AF; } }
  &.mew        { color: #ADF; .skin { background-color: #2FC; } }
  &.yoyo       { color: #FA0; .skin { background-color: #AE0; } }
  &.poison-jam { color: #0AB; .skin { background-color: #DCA; } }
  &.love-shock { color: #49F; .skin { background-color: #F06; } }
  &.noise-tank { color: #BFB; .skin { background-color: #DDE; } }
  &.rhino      { color: #220; .skin { background-color: #FB0; } }
}

.die.neon {

  .skin {
    background-blend-mode: color-burn;
  }

  &.fire       .skin { background-color: #F90; }
  &.ice        .skin { background-color: #EFF; }
  &.krypton    .skin { background-color: #DF0; }
  &.kirby      .skin { background-color: #FCD; }
}

.die.pattern {
  background-size: 100% 100%;

  .skin {
    opacity: 0.75;
  }

  &.lesbian  { background-image: url("./assets/lesbiab.gif"); }
  &.gay      { background-image: url("./assets/imgay.gif"); }
  &.bi       { background-image: url("./assets/bi.gif"); }
  &.trans    { background-image: url("./assets/transrights.gif"); }
  &.pan      { background-image: url("./assets/pan.gif"); }
  &.ace      { background-image: url("./assets/acearo.gif"); }
  &.nonbinary{ background-image: url("./assets/nonbinary.gif"); }
  &.intersex { background-image: url("./assets/intersex.gif"); }
}
