$red:         #F06;
$blue:        #4AF;
$gold:        #FC1;
$brown:       #532;

$felt-green:  #472;

$menu-height: 70px;

$basic:       #1F2C1C;
$rare:        #222633;
$epic:        #323;
$legend:      #4E4528;
